@import "category.css";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=======================
header
=======================
*/

.nav_ {
  background: #353535;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-radius: 3px;
}

.nav-ul a {
  color: #4a4a4a;
  font-size: 10px;
}

.active_ {
  color: #fc1d4d;
}

.navbar a {
  text-decoration: none;
  color: rgb(46, 43, 46);
}

.nav-ul a:hover {
  text-decoration: none;
}

.post-ad-btn {
  border: 1px solid #353535;
}

/* main */

.for_customers {
  text-transform: uppercase;
  font-size: 20px;
}

.for_customers:hover {
  color: #f1880f;
  text-decoration: none;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
footer
*/

.navbar ul {
  display: flex;
  background: #cb5769;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 0.8rem;
  border-radius: 5px;
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: #cbcd5abb;
}

/*
=======================
mobile view
=======================
*/

@media screen and (max-width: 768px) {
  /*
=======================
header
=======================
*/
  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
  }
  .nav-ul a {
    font-size: 15px;
  }
  .nav-ul-main {
    display: flex;
  }
  .sub-nav-ul-items {
    display: flex;
  }
  .logo {
    width: 75px;
    height: 55px;
  }
  .post-ad-item {
    display: none;
  }
  .item-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item-icon a {
    margin-left: 0.5rem;
  }
  /*
=======================
main
=======================
*/
  .bgscreen-top-head {
    display: none;
  }
  .search-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pick-cat-search {
    /* display: flex; */
    align-items: baseline;
  }
  .nput_prod {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #353535;
    width: 450px;
    outline: none;
  }
  .search-now_ {
    position: absolute;
    left: 26rem;
    top: 12px;
  }
  .search-category {
    padding-top: 3rem;
  }
  .crop-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 2px 20px 10px 20px;
  }
  .crop_cover_info {
    display: flex;
    flex-direction: column;
    height: 380px;
  }
  .crop-categories img {
    width: 100%;
    height: 200px;
  }
  .category_name {
    color: #fc1d4d;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .category_name:hover {
    color: #6d6b6b;
    text-decoration: none;
  }
  .crop-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2px 20px 10px 20px;
  }
  .crop-items img {
    width: 100%;
  }
}

/*
=======================
tablet and large screen view
=======================
*/

/*
@media screen and (min-width: 768px) {
  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
  }
  .nav-ul a {
    font-size: 18px;
  }
  /* header */

/*
  .post-ad-item {
    display: block;
  }
  .search-category {
    padding-top: 13rem;
    background-color: #cb5769;
    position: relative;
  }
  .bgscreen-top-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -50%;
    top: 50%;
    margin-top: -50px;
    color: #fff;
  }
  .logo-s {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: none;
  }
  .logo-s:hover {
    text-decoration: none;
    color: #535357;
  }
  .text-impressive {
    color: #0c0c0e;
  }
  .search-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .product-search_it {
    position: relative;
    margin-bottom: 1rem;
  }
  .nput_prod {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #353535;
    width: 450px;
    outline: none;
  }
  .search-now_ {
    position: absolute;
    left: 26rem;
    top: 12px;
  }
  .customer-info {
    margin-right: 25px;
    color: #fff;
    display: flex;
  }
  .for_customers {
    color: #080404;
    font-weight: bold;
    text-decoration: none;
  }
  .customer-info :first-child {
    margin-right: 10px;
    font-weight: bold;
  }
  .for_customers:hover {
    color: #525052;
  }
  .crop-categories {
    display: grid;
    margin: 2px 20px 10px 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background: #ecebeb;
  }
  .crop-categories img {
    width: 80%;
    height: 200px;
  }
  .crop-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border: 2px solid#000;
  }
  .category_name {
    font-weight: bold;
    color: #cf5b6c;
    font-size: 32px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .category_name:hover {
    color: #9c9b9b;
    text-decoration: none;
  }
  .see-the-crops {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    padding-top: 10px;
  }
}
*/

/*
=======================
tablet and large screen view
=======================
*/

@media screen and (min-width: 768px) {
  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
  }
  .nav-ul a {
    font-size: 18px;
  }
  .post-ad-item {
    display: block;
  }
  /* main */
  .search-category {
    padding-top: 1rem;
    background-color: #cb5769;
    padding-bottom: 1rem;
  }
  .bgscreen-top-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 6rem;
    padding-top: 4rem;
  }
  .logo-s {
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 10px;
    text-decoration: none;
  }
  .logo-s:hover {
    text-decoration: none;
    color: #535357;
  }
  .text-impressive {
    color: #fff;
    font-weight: bold;
  }
  .search-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pick-cat-search {
    display: flex;
    padding: 1.5rem;
  }
  .dropdown-cat {
    height: 5vh;
    position: relative;
  }
  .dropdown-cat ul {
    position: absolute;
    background: #898b89;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    transform: translateY(-10px);
  }
  .dropdown-cat button {
    background: #fff;
    border: none;
    border-right: 1px solid red;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
  }
  .nput_prod {
    background: none;
    color: #000;
    background: #fff;
    border: none;
    padding: 20px;
    width: 360px;
    margin-right: 0;
    outline: none;
  }
  .search-now_ {
    color: #fff;
    width: 30px;
    height: 25px;
    font-size: 20px;
  }
  .dropdown-cat button:hover {
    color: #c0bdbd
  }
  .dropdown-cat button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
  .c-crop {
    color: #464545;
  }
  .c-crop:hover {
    color: #fd7d7d;
  }
  .c-crop-sample {
    display: flex;
  }
  .c-crop-sample img {
    width: 30%;
    height: auto;
  }
  .cash-text {
    color: #f73548;
  }
  .cash-text:hover {
    text-decoration: none;
    color: #464545;
    font-weight: bold;
  }
  .qnty-price {
    background-color: #fc1d4d;
    margin-top: 5px;
    max-width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .qnty::after {
    content: "=";
    color: #000;
    margin-left: 30px;
  }
  .crp-cat-design {
    background: #f1f1f1;
  }
  .f-crops-fruits {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .food-crops {
    border: 1px solid #696666;
    width: 320px;
    height: 400px;
    padding: 20px;
  }
  .fruits {
    border: 1px solid #696666;
    width: 320px;
    height: 400px;
    padding: 3px;
  }
  .fruits, .vegetables {
    margin-left: 40px;
  }
  .the-crop-name {
    color: #464545;
  }
  .the-crop-name:hover {
    color: #f73548;
    text-decoration: none;
  }
  .f-crops-fruits img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .crop-p {
    line-height: 1.5;
    margin-top: 10px;
  }
  .spices-veggies {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spices, .vegetables {
    border: 1px solid #696666;
    width: 320px;
    height: 400px;
    padding: 3px;
  }
  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  .foot-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .comp-name {
    margin-left: 150px;
    color: #9e9b9d;
    font-weight: bold;
  }
  .comp-name:hover {
    color: #fa5353;
    text-decoration: none;
  }
  .just-lorem {
    margin-left: 200px;
    line-height: 1.5;
    color: #9e9b9d;
  }
  .footer-cat {
    margin-left: 100px;
  }
  .cat-foot-nav a {
    color: #9e9b9d;
    line-height: 1.5;
  }
  .cat-foot-nav a:hover {
    text-decoration: none;
    color: #f37171;
  }
  .hr-cat {
    width: 170px;
    margin-left: 0;
    font-weight: bolder;
    border-top: 1px solid red;
  }
  .foot-cat-items {
    text-transform: uppercase;
    color: #f73548;
  }
  .foot-cat-items:hover {
    color: #979497;
    text-decoration: none;
  }
  .hr-fcopy {
    border-top: 1px solid #c0bebe;
    width: 90%;
  }
  .copyright-info p {
    color: #9e9b9d;
    font-size: 14px;
  }
}