@import "category.css";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: '';
  content: none;
}

@font-face {
  font-family:Gotham Bold;
  src: url(/assets/fonts/Gotham\ Bold.otf);
  font-weight: 400;
}
@font-face {
  font-family:Gotham Rounded Light;
  src: url(/assets/fonts/Gotham\ Rounded\ Light.otf);
}

@font-face {
  font-family:HelveticaNeue-Bold;
  src: url(/assets/fonts/HelveticaNeue-Bold.otf);
}

@font-face {
  font-family:HelveticaNeue-Light;
  src: url(/assets/fonts/HelveticaNeue-Light.otf);
}
@font-face {
  font-family:HelveticaNeue-Medium;
  src: url(/assets/fonts/HelveticaNeue-Medium.otf);
}

.gotham-bold {
  font-family: Gotham Bold;
}

.gotham-light {
  font-family:Gotham Rounded Light;
}

.helvetica-light {
  font-family:HelveticaNeue-Light
}

.helvetica-bold {
  font-family:HelveticaNeue-Bold;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav_ {
  background: #353535;
  position: fixed;
  width: 100%;
  z-index: 10;
  border-radius: 3px;
  top: 0;
}

.nav-ul a {
  color: #4a4a4a;
  font-size: 10px;
  font-size: 15px;
}

.active_ {
  color: #fc1d4d;
}

.navbar a {
  text-decoration: none;
  color: rgb(46, 43, 46);
}

.item-icon a {
  margin-left: 0.5rem;
}

.cat-foot-nav a {
  color: #9e9b9d;
  line-height: 1.3;
}

.nav-ul a:hover {
  text-decoration: none;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: #cbcd5abb;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}

.post-ad-item {
  display: none;
}

.item-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
=======================
main
=======================
*/

.search-category, .categories {
  display: none;
}

.bgscreen-top-head {
  display: none;
}

.crop-cat {
  margin-top: 5rem;
}

.c-crop-sample {
  display: flex;
  flex-direction: column;
}

.c-crop-sample img {
  margin-top: 1rem;
  width: 60%;
  height: auto;
  margin-left: 2rem;
}

.c-crop {
  color: #464545;
}

.c-crop:hover {
  color: #fd7d7d;
}

.see-the-crops {
  margin-left: 2rem;
  margin-top: 1rem;
}

.see-the-crops p {
  display: flex;
  flex-wrap: wrap;
}

.cash-text {
  color: #f73548;
}

.cash-text:hover {
  text-decoration: none;
  color: #464545;
  font-weight: bold;
}

.qnty-price {
  background-color: #fc1d4d;
  margin-top: 5px;
  max-width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.crp-cat-design {
  background: #f1f1f1;
}

.f-crops-fruits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-crops {
  border: 1px solid #696666;
  width: 300px;
  height: 400px;
  padding-bottom: 2px;
}

.fruits {
  border: 1px solid #696666;
  width: 320px;
  height: 400px;
  padding-bottom: 2px;
}

.fruits, .vegetables {
  margin-left: 10px;
}

.the-crop-name {
  color: #464545;
}

.the-crop-name:hover {
  color: #f73548;
  text-decoration: none;
}

.f-crops-fruits img {
  max-width: 80%;
  height: auto;
  object-fit: cover;
}

/* .crop-p {
  font-family: 'gotham-bold', sans-serif;
  line-height: 1.5;
  margin-top: 10px;
} */

.spices-veggies {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spices, .vegetables {
  border: 1px solid #696666;
  width: 320px;
  height: 400px;
  padding: 3px;
}

/* footer */

.footer {
  height: 18rem;
  margin-top: 2rem;
}

.foot-1 {
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.comp-name {
  color: #9e9b9d;
  font-weight: bold;
}

.comp-name:hover {
  color: #fa5353;
  text-decoration: none;
}

.just-lorem {
  margin-left: 20px;
  line-height: 1.3;
  color: #9e9b9d;
  margin-top: 0.6rem;
}

.footer-cat {
  margin-left: 50px;
}

.cat-foot-nav a:hover {
  text-decoration: none;
  color: #f37171;
}

.hr-cat {
  width: 170px;
  margin-left: 0;
  font-weight: bolder;
  border-top: 1px solid red;
}

.foot-cat-items {
  text-transform: uppercase;
  color: #f73548;
}

.foot-cat-items:hover {
  color: #979497;
  text-decoration: none;
}

.hr-fcopy {
  border-top: 1px solid #c0bebe;
  width: 90%;
}

.copyright-info p {
  color: #9e9b9d;
  font-size: 12px;
}

/*
=======================
tablet and large screen view
=======================
*/

@media screen and (min-width: 768px) {
  .nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
  }
  .nav-ul a {
    font-size: 18px;
  }
  .post-ad-item {
    display: block;
  }
  .post-ad-btn {
    border: 1px solid #353535;
  }
  /* main */
  .search-category {
    display: block;
    padding-top: 1rem;
    background-color: #cb5769;
    padding-bottom: 1rem;
  }
  .bgscreen-top-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 6rem;
    padding-top: 4rem;
  }
  .logo-s {
    color: #fff;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 10px;
    text-decoration: none;
  }
  .logo-s:hover {
    text-decoration: none;
    color: #535357;
  }
  .text-impressive {
    color: #fff;
    font-weight: bold;
  }
  .search-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pick-cat-search {
    display: flex;
    padding: 1.5rem;
  }
  .dropdown-cat {
    height: 5vh;
    position: relative;
  }
  .dropdown-cat ul {
    position: absolute;
    background: #898b89;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    transform: translateY(-10px);
  }
  .dropdown-cat button {
    background: #fff;
    border: none;
    border-right: 1px solid red;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
  }
  .nput_prod {
    color: #000;
    background: #fff;
    border: none;
    padding: 20px;
    width: 360px;
    margin-right: 0;
    outline: none;
  }
  .search-now_ {
    color: #ccc8c8;
    font-size: 50px;
    border: 1px solid #3a3939;
    padding: 1rem;
    background: #464545;
  }
  .dropdown-cat button:hover {
    color: #c0bdbd;
  }
  .dropdown-cat button:focus+ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
  .crop-cat {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .c-crop {
    color: #464545;
  }
  .c-crop:hover {
    color: #fd7d7d;
  }
  .c-crop-sample {
    display: flex;
    flex-direction: row;
  }
  .c-crop-sample img {
    width: 30%;
    height: auto;
  }
  .cash-text {
    color: #f73548;
  }
  .cash-text:hover {
    text-decoration: none;
    color: #464545;
    font-weight: bold;
  }
  .qnty-price {
    background-color: #fc1d4d;
    margin-top: 5px;
    max-width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .qnty::after {
    content: "=";
    color: #000;
    margin-left: 30px;
  }
  .crp-cat-design {
    background: #f1f1f1;
  }
  .f-crops-fruits {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .food-crops {
    border: 1px solid #696666;
    width: 320px;
    height: 400px;
    padding: 20px;
  }
  .fruits {
    border: 1px solid #696666;
    width: 320px;
    height: 400px;
    padding: 3px;
  }
  .fruits, .vegetables {
    margin-left: 40px;
  }
  .the-crop-name {
    color: #464545;
  }
  .the-crop-name:hover {
    color: #f73548;
    text-decoration: none;
  }
  .f-crops-fruits img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .crop-p {
    line-height: 1.5;
    margin-top: 10px;
  }
  .spices-veggies {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spices, .vegetables {
    border: 1px solid #696666;
    width: 320px;
    height: 400px;
    padding: 3px;
  }
  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  .foot-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .comp-name {
    margin-left: 150px;
    color: #9e9b9d;
    font-weight: bold;
  }
  .comp-name:hover {
    color: #fa5353;
    text-decoration: none;
  }
  .just-lorem {
    margin-left: 200px;
    line-height: 1.5;
    color: #9e9b9d;
  }
  .footer-cat {
    margin-left: 100px;
  }
  .cat-foot-nav a {
    color: #9e9b9d;
    line-height: 1.5;
  }
  .cat-foot-nav a:hover {
    text-decoration: none;
    color: #f37171;
  }
  .hr-cat {
    width: 170px;
    margin-left: 0;
    font-weight: bolder;
    border-top: 1px solid red;
  }
  .foot-cat-items {
    text-transform: uppercase;
    color: #f73548;
  }
  .foot-cat-items:hover {
    color: #979497;
    text-decoration: none;
  }
  .hr-fcopy {
    border-top: 1px solid #c0bebe;
    width: 90%;
  }
  .copyright-info p {
    color: #9e9b9d;
    font-size: 14px;
  }
}